@model PublicManager

<div>
    <h1>Launchpad</h1>
    <div class="row">
        @foreach (Category category in @Model.GetCategories()) {
            <div class="col-sm">
                <h4>@category.categoryName</h4>
                <div>
                    @if (@Model.GetPinnedCount(category) > 0) {
                        @foreach (Link link in category.links){
                            @if (link.pinned) {
                                <div>
                                    <a target="_blank" href="@link.url">
                                        <img src="https://www.google.com/s2/favicons?domain_url=@link.url">@link.title
                                    </a>
                                </div>
                            }
                        }
                        <div>------------</div>
                        @foreach (Link link in category.links) {
                            @if (!link.pinned) {
                                <div>
                                    <a target="_blank" href="@link.url">
                                        <img src="https://www.google.com/s2/favicons?domain_url=@link.url"> @link.title
                                    </a>
                                </div>
                            }
                        }
                    } else {
                        @foreach (Link link in category.links) {
                            <div>
                                <a target="_blank" href="@link.url">
                                    <img src="https://www.google.com/s2/favicons?domain_url=@link.url">@link.title
                                    </a>
                                </div>
                        }
                    }
                </div>
            </div>   
        }
    </div>
</div>